/node_modules
web/dist
web/docs
web/declaration
web/temp
web/tests/cache
web/tests/compliance/artifacts
web/tests/compliance/fixtures/valid
web/*.tgz
web/node_modules/.vite/deps/
web/node_modules/.vite/vitest/
web/node_modules/.vite-temp/
web/README.md
web/LICENSE
web/tests/compliance/FTStd0.9-non-compliance-report.md
node/dist
node/docs
node/declaration
node/temp
node/node_modules/.vite/deps/
node/node_modules/.vite/vitest/
node/node_modules/.vite-temp/
node/*.tgz
examples/test/index.ts
docs/dist
docs/node_modules/.vite/deps/
docs/node_modules/.vite/vitest/
docs/node_modules/.vite-temp/
/.env
/.env.local
/.env.development
/.env.test
/.env.production
/.DS_Store
/.vscode
/.idea
/.eslintcache
/.prettiercache
/logs
/coverage
/.next
/out
/.nuxt
/.cache
/.parcel-cache
/.webpack
/.babelrc
/.stylelintrc
