/node_modules
lib/dist
lib/docs
lib/declaration
lib/temp
lib/tests/cache
lib/tests/compliance/artifacts
lib/tests/compliance/fixtures/valid
lib/*.tgz
lib/node_modules/.vite/deps/
lib/node_modules/.vite/vitest/
lib/node_modules/.vite-temp/
lib/README.md
lib/LICENSE
examples/test/index.ts
/.env
/.env.local
/.env.development
/.env.test
/.env.production
/.DS_Store
/.vscode
/.idea
/.eslintcache
/.prettiercache
/logs
/coverage
/.next
/out
/.nuxt
/.cache
/.parcel-cache
/.webpack
/.babelrc
/.stylelintrc
lib/tests/compliance/FTStd0.9-non-compliance-report.md
